/* ---------------- DEBUG ---------------- */
* {
    border: 1px solid red;
    color: green;
}

.contact-me .form {
    width: 50vw;
    height: 200px;
    border: 1px dotted blue;
    background-color: aquamarine;
}


/* --------------- HEADER --------------- */
header {
    background-color: rgb(44, 62, 80);
}

header ul {
    list-style: none;
}

header a {
    text-decoration: none;
}

/* ---------------- MAIN ---------------- */
/* ---------- HERO ---------- */
main .hero, main .about {
    background-color: rgb(26, 188, 156);
}

/* -------- PORTFOLIO -------- */
main .portfolio img {
    width: 100%;
}

/* ---------- ABOUT ---------- */

/* ------- CONTACT-ME ------- */

/* --------------- FOOTER --------------- */

