/* ---------------- DEBUG ---------------- */
* {
    border: 1px solid red;
}

.contact-me .form {
    width: 50vw;
    height: 200px;
    border: 1px dotted blue;
    background-color: aquamarine;
}

/* ---------------- TYPO ---------------- */
header .logo, header a, main .hero, main .about, footer {
    color: white;
}

header *, .title, main .hero {
    text-transform: uppercase;
}

/* -------------- COMMONS -------------- */
header, footer .bottom {
    background-color: rgb(44, 62, 80);
}

main .hero, main .about, main button {
    background-color: rgb(26, 188, 156);
}

section {
    padding: 30px 0;
}

header, footer .top, footer .bottom {
    padding: 15px 0;
}

a {
    text-decoration: none;
}

header a:hover, footer .info a {
    color: rgb(26, 188, 156);
}

/* --------------- HEADER --------------- */
header .logo{
    font-size: 22px;
}

header ul {
    list-style: none;
}

header a {
    padding-left: 25px;
}

/* ---------------- MAIN ---------------- */
.col.separe {
    margin: 10px 0;
}

.decoration.bar {
    width: 8vw;
    height: 5px;
    background-color: white;
    border-radius: 20px;
}

.decoration.icon {
    margin: 0 10px;
    margin-top: -5px;
    font-size: 25px;
}

.portfolio .decoration.bar, .contact-me .decoration.bar {
    background-color: black;
}

/* ---------- HERO ---------- */
main .hero img {
    max-width: 25%;
}
/* -------- PORTFOLIO -------- */
main .portfolio img {
    width: 100%;
}

/* ---------- ABOUT ---------- */

/* ------- CONTACT-ME ------- */

/* --------------- FOOTER --------------- */
footer .top {
    background-color: rgb(58, 84, 109);
}

footer .col-12 {
    text-align: center;
}

footer .info a:hover {
    text-decoration: underline;
    color: rgb(56, 218, 186);
}

footer .bottom {
    font-size: 14px;
}

footer .bottom i {
    font-size: 10px;
}

footer .top button {
    border: 1px solid white;
    border-radius: 50%;
    background-color: transparent;
    width: 50px;
    height: 50px;
    font-size: 20px;
    position: relative;
}

footer .top button i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: transparent;
}

/* .fa-brands.fa-linkedin, .fa-brands.fa-facebook {
    background-color: white;
    color: rgb(58, 84, 109);
} */

footer .logos {
    margin-bottom: 18px;
    min-width: 70%;
}